@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-scroll-up {
  animation: scroll-up 25s linear infinite;
}

.animate-scroll-down {
  animation: scroll-down 25s linear infinite;
}
